//цвета для однотипных штук
.orange {
  background: #f7931a;
}

.lightOrange {
  background-color: #fff6d9;
}

.grey {
  background: #a2a2a2;
}

.lightGrey {
  background: #eaeaea;
}

.blue {
  background: #6a96f6;
}

.lightBlue {
  background: #d8eeff;
}

.green {
  background: #00bc81;
}

.lightGreen {
  background: #e0fbed;
}
