.container {
  max-width: 1104px;
  margin: 0 auto;
}

.dashboard {
  width: 100%;
  margin: 0 auto;
}

.blueBlock {
  background-color: #0e46c0;
  position: relative;
  width: 100%;
  min-height: 594px;
}

.blueBlock__content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blueBlock__main {
  background-color: #ffffff;
  border-radius: 16px;
  height: 74%;
  width: 100%;
  top: 32px;
  position: relative;
  margin: 0 auto;
}

.blueBlock__small {
  margin: 0 auto;
  margin-top: 24px;
  top: 24px;
  position: relative;
  height: 64px;
  max-width: 1107px;
  display: block;
}

.blueBlock__small-battery {
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  height: 30px;
  width: 50px;
  float: right;
  margin-top: 12px;
  z-index: 0;
}

.blueBlock__main-blocks {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 16px;
}

.main__blocks-wrapper {
  max-width: 96%;
  height: 100%;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgb(0, 255, 0);
}

.main__blocks-flex {
  display: flex;
  justify-content: space-between;
}

.blueBlock__main-left {
  width: 422px;
  height: 100%;
  background-color: yellow;
  margin: 0;
}

.blueBlock__main-right {
  flex: 1;
  height: 100%;
  background-color: rgb(46, 49, 189);
  margin-left: 29px;
}

.blueBlock__main-btns {
  width: 360px;
  background-color: rgb(0, 225, 255);
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.main__btn-settings {
  display: none;
}

.block__header {
  height: 32px;
  width: 100%;
  background-color: rgb(182, 114, 114);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.block__header-icon {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #272727;
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  display: inline;
  float: left;
}

.block__header-icon span {
  margin: 0px;
  padding: 0px;
  line-height: 28px;
  padding-left: 8px;
  vertical-align: 2px;
}

.block__header-btn {
  appearance: none;
  border: 1px solid #0e46c0;
  border-radius: 16px;
  background: none;
  padding: 3px 10px;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0e46c0;
  width: 51%;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

.btn__arrow {
  padding-top: 4px;
  height: 8px;
  width: 5px;
}

.block__header-btn:hover .btn__arrow {
  transform: translate(5px, 0px);
  transition: 0.5s;
}

.left__main {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.left__main li {
  margin-top: 12px;
}

.left__main li:first-child {
  margin-top: 16px;
}

.left__main-item {
  height: 28px;
  width: 92%;
  background: #f4f4f7;
  border: none;
  border-radius: 20px;
  padding: 8px 14px;
  display: grid;
  grid-template-columns: 26% 55% 19%;
}

.item__start {
  text-transform: uppercase;
  height: 28px;
  width: 69px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.3px;
  color: #272727;
  padding-left: 10px;
}

.item__med {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400; //TODO: здесь 600 - на неподключенных шрифтах не видно
  font-size: 18px;
  line-height: 24px;
  color: #272727;
}

.bold {
  font-weight: 800;
}

.item__end {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #272727;
}

.item__start-withIcon {
  height: 24px;
  width: 63px;
  border-radius: 12px;
  display: flex;
}

.withIcon__round {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.withIcon__round img {
  height: 14px;
  width: 14px;
  padding-left: 5px;
  padding-top: 5px;
}

.withIcon__text {
  margin: 0px;
  padding: 0px;
  padding-left: 3px;
  font-size: 12px;
  line-height: 24px;
}

.left_switcherBlock {
  width: 60%;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  max-height: 27px;
}

.left_switcherBlock-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #272727;
  margin: 0px;
  padding: 3%;
}

.block__header-select {
  margin: 0px;
  padding: 0px;
}

.dashboardBlueBtn {
  appearance: none;
  border: 1px solid #0e46c0;
  border-radius: 16px;
  background: none;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0e46c0;
  height: 33px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #0e46c0;
  margin-left: 7px;
  display: inline-block;
  white-space: nowrap;
}

.main__btns-wrapper {
  display: flex;
  padding: 6px 8px;
}

.dashboardBlueBtn:first-child {
  margin-left: 0px;
}

.dashboardBlueBtn:hover {
  background-color: #0e46c0;
  color: #ffffff;
}

.right__items {
  margin-top: 16px;
}

.right__items-item {
  width: 100%;
  background-color: #e5eaf1;
  border-radius: 20px;
  vertical-align: center;
}

.small {
  height: 64px;
  width: 100%;
}

.small__wrapper {
  padding: 17px 16px;
  display: grid;
  grid-template-columns: 7% 24% 40% 7% 24%;
  align-items: center;
}

.big {
  margin-top: 20px;
  height: 104px;
  position: relative;
  width: 100%;
}

.big__wrapper {
  margin: 0 auto;
  width: 90%;
  height: 60%;
  vertical-align: center;
  background-color: green;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 20%;
  left: 23px;
}
.big__item {
  height: 100%;
  background-color: red;
}

.big__item-first {
  width: 40%;
}

.big__item-sec {
  width: 55%;
}
.select__icon {
  color: #0e46c0;
}

.item__icon {
  height: 25px;
  width: 25px;
  font-size: 27px;
}

.item__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 8px; //10px
  line-height: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #646464;
}

.righttext-span {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.item__speed {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-align: center;
}

.big__item-top {
  width: 100%;
  display: flex;
}

.top__icon {
  width: 12px;
  height: 12px;
  color: #646464;
}

.top__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #646464;
  padding-left: 6px;
}

.top__text span {
  display: block;
}

.big__item-bottom {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 8px;
}

.blueBlock__small-main {
  width: 99%;
  background-color: #ffffff;
  height: 100%;
  border-radius: 16px;
  float: left;
  position: absolute;
  z-index: 1;
}

.small__main-wrapper {
  width: 96%;
  /* background-color: red; */
  height: 57%;
  margin: 0 auto;
  margin-top: 1.3%;
  display: flex;
  justify-content: space-between;
}

.small__main-left {
  width: 25%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  /* margin-top: 8px; */
}

.small__main-right {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  /* background-color: yellow; */
}

.main__right-big {
  width: 100%;
  height: 100%;
  /* background-color: indigo; */
  display: flex;
  justify-content: space-between;
}

.main__right-small {
  width: 250px;
  margin: 0 auto;
  height: 100%;
  background-color: rgb(77, 235, 124);
  z-index: 1px;
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
}

.battery__band {
  height: 100%;
  margin-left: 42%;
  width: 1px;
  background-color: #a2a2a2;
  position: absolute;
}

.main__left-icon {
  color: #a1a1a1;
  width: 20px;
  height: 25px;
  font-size: 25px;
}

.main__left-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #646464;
  width: 265px;
  margin-left: 15px;
}

.main__left-cost {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #272727;
  width: 85px;
}

.main__left-days {
  display: none;
}

.btn__icon {
  width: 25px;
  height: 11px;
  padding-top: 4px;
}

.right__small-title {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: #646464;
}

.right__small-cost {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #272727;
}

.main__blocks-wrapper {
  max-width: 96%;
  height: 100%;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: rgb(0, 255, 0);
}

@media (max-width: 1024px) {
  .container {
    width: 976px;
  }

  .item__speed {
    font-size: 18px;
  }

  .blueBlock__main-left {
    width: 380px;
    height: 100%;
    background-color: yellow;
    margin: 0;
  }

  .small__wrapper {
    margin-left: 16px;
    margin-right: 16px;
    padding: 10px 10px;
    grid-template-columns: 10% 22% 34% 10% 24%;
  }

  .big__item-bottom {
    font-size: 18px;
    line-height: 24px;
  }

  .big__item-first {
    width: 48%;
  }

  .big__item-sec {
    width: 48%;
  }

  .big__wrapper {
    left: 18px;
  }

  .blueBlock__small {
    height: 64px;
    max-width: 978px;
  }

  .battery__band {
    margin-left: 55%;
  }

  .main__right-small {
    margin-right: 15%;
  }

  .main__btn-settings {
    display: block;
  }

  .main__btn-goTo {
    display: none;
  }

  .battery__band {
    margin-left: 43%;
  }
}

@media (max-width: 980px) {
  .container {
    width: 95%;
  }

  .main__blocks-wrapper {
    width: 100%;
  }

  .blueBlock__small {
    width: 95%;
  }

  .battery__band {
    display: none;
  }

  .small {
    height: 80px;
  }

  .hashrate {
    grid-area: hashrate;
    width: 18px;
    height: 18px;
    font-size: 20px;
  }

  .timer {
    grid-area: timer;
    width: 24px;
    height: 27px;
    font-size: 30px;
  }

  .lefttext {
    grid-area: lefttext;
  }

  .righttext {
    grid-area: righttext;
  }

  .righttext-span {
    grid-area: righttextSpan;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    position: absolute;
    margin-top: 1%;
  }
  .item__speed {
    grid-area: speedText;
    margin-top: 2%;
  }

  .small__wrapper {
    margin: 0 auto;
    padding: 15px 25px;
    grid-template-columns: 9% 42% 9% 12% 30%;
    grid-template-rows: auto;

    grid-template-areas:
      "hashrate lefttext . timer righttext "
      "speedText speedText . righttextSpan righttextSpan";
  }

  .item__text {
    font-size: 10px;
  }

  .main__right-small {
    display: none;
  }

  .battery__band {
    display: none;
  }

  .main__left-days {
    width: 49px;
    height: 19px;
    background: #e5eaf1;
    border-radius: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #272727;
    display: block;
    text-align: center;
    padding-top: 3px;
  }

  .small__main-left {
    width: 45%;
    height: 100%;
    /*  background-color: green; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 8px; */
  }

  .main__left-title {
    font-size: 10px;
    line-height: 14px;
    width: 105px;
    margin-left: 15px;
  }

  .main__left-icon {
    display: none;
  }
  .small__main-right {
    width: 269px;
  }

  .small__main-wrapper {
    margin-top: 2%;
  }
}

@media (max-width: 768px) {
  .container {
    /* width: 736px; */
    width: 96%;
  }

  .main__blocks-wrapper {
    /* max-width: 704px; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgb(0, 255, 0);
  }

  .block__header-icon {
    font-size: 18px;
    line-height: 24px;
  }

  .block__header-icon span {
    margin: 0px;
    padding: 0px;
    line-height: 28px;
    padding-left: 3px;
    vertical-align: 2px;
  }

  .item__med {
    font-size: 16px;
  }

  .item__end {
    font-size: 12px;
    line-height: 16px;
    padding-top: 5px;
  }

  .item__speed {
    font-size: 16px;
    line-height: 20px;
    margin-top: 7%;
  }

  .blueBlock__main-left {
    max-width: 342px;
  }

  .blueBlock__main-right {
    margin-left: 20px;
    width: 100%;
  }

  .top__text {
    font-size: 10px;
    line-height: 14px;
  }

  .big__item-bottom {
    font-size: 16px;
    line-height: 20px;
  }

  .small__wrapper {
    grid-template-columns: 10% 42% 5% 12% 33%;
    padding: 12px 12px;
  }

  .left_switcherBlock {
    width: 75%;
  }
}

//TODO: лишний фон на биткоине и тд
//TODO:
//уменьшить размеры текста как на мобилке(?)
//убрать батарейку
@media (max-width: 690px) {
 

}

@media (max-width: 480px) {
}
