.dashboard {
  width: 100%;
  margin: 0 auto;
}

.blueBlock {
  background-color: #0e46c0;
  position: relative;
  width: 100%;
  min-height: 574px;
}

.blueBlock__content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.blueBlock__main {
  background-color: #ffffff;
  border-radius: 16px;
  height: 74%;
  width: 95%;
  left: 2.5%;
  top: 5%;
  position: relative;
}

.blueBlock__small {
  margin-top: 24px;
  position: relative;
  height: 11%;
  width: 95%;
  left: 2.5%;
  top: 5%;
}

.blueBlock__small-main {
  width: 99%;
  background-color: #ffffff;
  height: 100%;
  border-radius: 16px;
  float: left;
  position: absolute;
  z-index: 1;
}

.blueBlock__small-battery {
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  height: 30px;
  width: 50px;
  float: right;
  margin-top: 12px;
  z-index: 0;
}

.blueBlock__main-blocks {
  width: 100%;
  height: 90%;
  display: flex;
}

.blueBlock__main-btns {
  margin-left: 4%;
  width: 42%;
  height: 10%;
  /* background-color: pink; */
  display: flex;
  justify-content: space-between;
}

.blueBlock__main-left {
  width: 46%;
  height: 95%;
  /* background-color: orange; */
  margin-left: 4%;
  margin-top: 24px;
}

.blueBlock__main-right {
  width: 46%;
  height: 90%;
  /* background-color: rgb(140, 0, 255); */
  margin-right: 4%;
  margin-top: 24px;
}

.block__header {
  height: 32px;
  width: 100%;
  /* background-color: red; */
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.block__header-icon {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #272727;
  margin-top: 0px;
  margin: 0px;
  padding: 0px;
  display: inline;
  float: left;
}

.block__header-icon span {
  margin: 0px;
  padding: 0px;
  line-height: 28px;
  padding-left: 8px;
  vertical-align: 2px;
}

.block__header-btn {
  appearance: none;
  border: 1px solid #0e46c0;
  border-radius: 16px;
  background: none;
  padding: 3px 10px;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0e46c0;
  width: 45%;
  margin-right: 12%;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}

.btn__arrow {
  padding-top: 4px;
  height: 8px;
  width: 5px;
}

.block__header-btn:hover .btn__arrow {
  transform: translate(5px, 0px);
  transition: 0.5s;
}

.left__main {
  list-style-type: none;
  margin: 0px;
  margin-right: 8%;
  padding: 0;
}

.left__main li {
  margin-top: 12px;
}

.left__main li:first-child {
  margin-top: 16px;
}

/* .left__main li:last-child {
  margin-bottom: 0px;
} */

.left__main-item {
  height: 28px;
  width: 94%;
  background: #f4f4f7;
  border: none;
  border-radius: 20px;
  padding: 8px 5px;
  display: grid;
  grid-template-columns: 27% 57% 16%;
}

.item__start {
  text-transform: uppercase;
  height: 28px;
  width: 69px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.3px;
  color: #272727;
  padding-left: 10px;
}

.item__med {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400; //TODO: здесь 600 - на неподключенных шрифтах не видно
  font-size: 18px;
  line-height: 24px;
  color: #272727;
}

.bold {
  font-weight: 800;
}

.item__end {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #272727;
}

.item__start-withIcon {
  height: 24px;
  width: 73px;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
}

.withIcon__round {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.withIcon__round img {
  height: 14px;
  width: 14px;
  padding-left: 5px;
  padding-top: 5px;
}

.withIcon__text {
  margin: 0px;
  padding: 0px;
  /* padding-left: 10px;
  float: left; */
}

.left_switcherBlock {
  width: 70%;
  height: 9%;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.left_switcherBlock-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #272727;
  margin: 0px;
  padding: 3%;
}

.block__header-select {
  margin: 0px;
  padding: 0px;
}

.dashboardBlueBtn {
  appearance: none;
  border: 1px solid #0e46c0;
  border-radius: 16px;
  background: none;
  padding: 6px 16px;
  font-size: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0e46c0;
  display: flex;
  justify-content: space-between;
  height: 33px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #0e46c0;
  width: 100%;
  margin-left: 10px;
}

.dashboardBlueBtn:first-child{
  margin-left: 0px;
}

.dashboardBlueBtn:hover{
  background-color: #0e46c0;
  color: #ffffff;
}

.btn__icon {
  width: 25px;
  height: 11px;
  padding-top: 4px;
}

.right__items{
  margin-top: 16px;
}

.right__items-item{
  width: 100%;
  background-color:#E5EAF1;
  border-radius: 20px;
}

.small{
  height: 64px;
}

.small__wrapper{
  padding: 16px;
  display: grid;
  grid-template-columns: 10% 20% 40% 10% 20%;
}

.big{
  margin-top: 20px;
  height: 104px;
}

.test{
  color: #0E46C0;
}
@media (max-width: 768px) {
  .block__header-btn {
    margin-right: 21px;
  }
}

@media (max-width: 320px) {
}
