///Стили для карточек в слике
.slickItem-first {
  background-image: url("../img/SlickItemFirst.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 29px;
  width: 220px;
  margin: 0 auto;
  padding-top: 5px;
}

.slickItem-sec{
    background-image: url("../img/SlickItemSec.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.slickItem-th{
    background-image: url("../img/SlickItemSecTh.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
}

.slickItem-fth{
    background-image: url("../img/SlickItemSecFth.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    
}
.slickItem-container {
  //background-color: red;
  width: 246px;
  padding-left: 12px;
  padding-top: 5px;
  height: 100%;
}

.slickItem-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #272727;
}

.slickItem-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #272727;
}

.slickItem-text span{
    display: block;
}

.slickItem-btn {
  position: absolute;
  bottom: 12px;
  height: 32px;
  border-radius: 16px;
  background: #e5eaf1;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #272727;
  border: none;
  display: flex;
  align-items: center;
}

.slickItem-btn span{
 width: 4px;
 height: 8px;
 padding-right: 12px;
  }
  
/////////////////////////////////////

.slickItem {
  border-radius: 16px;
  background: #ffffff;
  height: 190px;
  //max-width: 258px;
  margin-right: 28px;
}

.slickItem:last-child {
  margin-right: 0px;
}

@media (max-width: 1040px) {
  .slickItem {
    height: 140px;
    margin-right: 0px;
  }

  .slick-track {min-width: 100%}

  .slick-slide {min-width: 50% }

}

//уже как на 768
@media (max-width: 980px) {
  .slickItem {
    height: 140px;
    margin-right: 0px;
  }

  .slick-track {min-width: 100%}

  .slick-slide {min-width: 100% }

}

@media (max-width: 699px) {
}
