///Стили для карточек в слике
.slickItem-first {
  background-image: url("../img/SlickItemFirst.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 29px;
  width: 220px;
  margin: 0 auto;
  padding-top: 5px;
}

.slickItem-sec {
  background-image: url("../img/SlickItemSec.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.slickItem-th {
  background-image: url("../img/SlickItemSecTh.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

.slickItem-fth {
  background-image: url("../img/SlickItemSecFth.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}
.slickItem-container {
  //background-color: red;
  width: 100%;
  padding-left: 12px;
  padding-top: 5px;
  height: 100%;
  box-sizing: border-box;
}

.slickItem-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #272727;
}

.slickItem-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #272727;
}

.slickItem-btn {
  position: absolute;
  bottom: 12px;
  height: 32px;
  border-radius: 16px;
  background: #e5eaf1;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #272727;
  border: none;
  display: flex;
  align-items: center;
}

.slickItem-btn span {
  width: 4px;
  height: 8px;
  padding-right: 12px;
}

/////////////////////////////////////

.slickItem {
  border-radius: 16px;
  background: #ffffff;
  height: 190px;
  max-width: 258px;
}

.slickItem:last-child {
  margin-right: 0px;
}

@media (max-width: 1135px) {
  .slickItem {
    height: 140px;
    max-width: 476px;
    margin-top: 16px;
  }

  .slick-track {
    min-width: 50%;
    display: flex;
    flex-wrap: wrap;
  }

  .slick-slide {
    min-width: 50%;
  }

  .slickItem-btn {
    position: relative;
    margin-top: 40px;
  }
}

//уже как на 768
@media (max-width: 980px) {
  .slick-slide {
    min-width: 50%;
  }

  .slickItem {
    max-width: 358px;
  }
}

@media (max-width: 760px) {
  .slick-slide {
    min-width: initial;
    margin: 0 auto;
  }
}

//TODO: Куда кнопки деваются блять?
//перенос шрифта не за счет спанов, а за счет ширины блока (чтобы порм было на адаптиве)

///dots
.button__bar {
  display: inline;
  margin: auto;
  padding: 0;
  width: 88px;
  margin-top: 20px;
}

.button__bar li {
  vertical-align: middle;
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 4px;
  align-self: center;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: #6a96f6;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.button__bar li.slick-active button {
  background-color: #0e46c0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
